.button {
  display: inline block;
  margin-top: 20px;
  margin-bottom: 60px;
  padding: 20px 30px;
  background: #30477D;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-family: "Lato";
  border: none;
  margin-left: 30px;
  margin-right: 30px;
}

