.section-a {
  padding-top: 20px;
  padding-bottom: 60px;
  background: transparent;
  background-size: cover;
  justify-content: center;
  align-content: center;
}


#root > div > div > div:nth-child(2) > section > div:nth-child(1) > div > img {

	width: 150px;
	height: 150px;
}

