.section-c {
  padding-top: 20px;
  padding-bottom: 60px;
  background: transparent;
  background-size: cover;
  justify-content: center;
  align-content: center;
}

#root > div > div > div:nth-child(4) > section > div > div.col-md-4 > img {

	height: 150px;
}

