.section-a {
  padding-top: 20px;
  padding-bottom: 60px;
  background-size: cover;
  justify-content: center;
  align-content: center;
}


#root > div > div > div.container > section > div:nth-child(1) > div > img {

	height: 150px;
}


#root > div > div > div:nth-child(2) > section > div.col-md-4 > a > img {

	width:  250px;
}

